<!DOCTYPE html>
html(lang="en")
	include components/head.pug
	body
		header.js_header
			include components/header.pug
		.main-container
			-var crumbList = [{name:'Home', link:'main.html'}, {name:'About Us', link:''}]
			include components/crumbs.pug
			section.contacts-page
				.wrap
					h1.title Contact us
					.contacts-block
						.contact.phone
							svg.icon
								use(xlink:href="../img/symbol_sprite.svg#icon-contact-phone")
							.info
								h4.title Phone
								p.contact +31 65 574 6192
						.contact.adress
							svg.icon
								use(xlink:href="../img/symbol_sprite.svg#icon-adress")
							.info
								h4.title Adress
								p.contact Visserssteeg 10 3732HN, De Bilt The Netherlands
						.contact.email
							svg.icon
								use(xlink:href="../img/symbol_sprite.svg#icon-contact-email")
							.info
								h4.title Email
								p.contact info@spolbo.com
		include components/callback-form.pug
		footer.about-page__footer
			include components/footer.pug
