<!DOCTYPE html>
html(lang="en")
	include components/head.pug
	body
		header.js_header
			include components/header.pug
		.main-container
			-var crumbList = [{name:'Home', link:'main.html'}, {name:'My account', link:''}, {name:'Update plan', link:''}]
			include components/crumbs.pug
			section.price
				.price__wrap
					h1.price__title.update-plan Successful payment
					p.price__subtitle Hope, you will enjoy the service!
					.price__plans
						.price__plans-item
							p.price__plans-item__current Your current plan
							.plan__header.plan__header_season
								h3.plan__header__title 3 month
								.plan__header__price
									h1.price__value 30
									p.price__currency $
								.plan__header__type Единовременная оплата
							.plan__description
								p.plan__text.plan__text_active 3 month
								p.plan__text.plan__text_active 3 your own dogs
								p.plan__text.plan__text_active Forecast the offspring by genodate
								p.plan__text.plan__text_active No Forecast the offspring of my dogs
								p.plan__text.plan__text_active No Search for a male for offspring of a certain color
								p.plan__text.plan__text_active No Search for a male for the offspring of a particular genome
							.button.plan__choose
								a.btn Pay for 3 months more
					a.my-account__link(href="") 
						p.link__text my account
						svg.link__icon
							use(xlink:href="../img/symbol_sprite.svg#icon-arrow-right")
		footer
			include components/footer.pug