.calculator__result-dogs
	h1.calculator__result-dogs__title Offspring of my dogs
	.calculator__result-dogs__header-wrap
		.calculator__result-dogs__header-wrap__content
			p.calculator__result-dogs__header-wrap__content-cell Male
			p.calculator__result-dogs__header-wrap__content-cell Female
			p.calculator__result-dogs__header-wrap__content-cell Вероятность окраса, %
	.calculator__result-dogs__body
		.calculator__result-dogs__body__wrap
			.calculator__result-dogs__body__row
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__dog-block
						.calculator__result-dogs__body__cell__dog-block__image(style="background-image: url(../img/puppy1.png)")
						.calculator__result-dogs__body__cell__dog-block__body
							h5.calculator__result-dogs__body__cell__dog-block__title Lily
							.calculator__result-dogs__body__cell__dog-block__info
								.calculator__result-dogs__body__cell__dog-block__info-wrapper
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-breed French Bulldog
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-birthdate 2y 4m
							.calculator__result-dogs__body__cell__dog-block__genom-wrapper
								p.calculator__result-dogs__body__cell__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
								.help.js_help
									svg.icon
										use(xlink:href="../img/symbol_sprite_default.svg#icon-help")
									a.help__link.js_help-block(href="") 
										p.text About genotype
										svg.arrow
											use(xlink:href="../img/symbol_sprite.svg#icon-arrow-right")
							svg.calculator__result-dogs__body__cell__dog-block__info-gender.male
									use(xlink:href="../img/symbol_sprite.svg#icon-male")
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__dog-block
						.calculator__result-dogs__body__cell__dog-block__image(style="background-image: url(../img/puppy1.png)")
						.calculator__result-dogs__body__cell__dog-block__body
							h5.calculator__result-dogs__body__cell__dog-block__title Lily
							.calculator__result-dogs__body__cell__dog-block__info
								.calculator__result-dogs__body__cell__dog-block__info-wrapper
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-breed French Bulldog
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-birthdate 2y 4m
							.calculator__result-dogs__body__cell__dog-block__genom-wrapper
								p.calculator__result-dogs__body__cell__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
								.help.js_help
									svg.icon
										use(xlink:href="../img/symbol_sprite_default.svg#icon-help")
									a.help__link.js_help-block(href="") 
										p.text About genotype
										svg.arrow
											use(xlink:href="../img/symbol_sprite.svg#icon-arrow-right")
							svg.calculator__result-dogs__body__cell__dog-block__info-gender.female
									use(xlink:href="../img/symbol_sprite.svg#icon-female")
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__colors-table
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
		.calculator__result-dogs__body__wrap
			.calculator__result-dogs__body__row
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__dog-block
						.calculator__result-dogs__body__cell__dog-block__image(style="background-image: url(../img/puppy1.png)")
						.calculator__result-dogs__body__cell__dog-block__body
							h5.calculator__result-dogs__body__cell__dog-block__title Lily
							.calculator__result-dogs__body__cell__dog-block__info
								.calculator__result-dogs__body__cell__dog-block__info-wrapper
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-breed French Bulldog
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-birthdate 2y 4m
							.calculator__result-dogs__body__cell__dog-block__genom-wrapper
								p.calculator__result-dogs__body__cell__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
								.help.js_help
									svg.icon
										use(xlink:href="../img/symbol_sprite_default.svg#icon-help")
									a.help__link.js_help-block(href="") 
										p.text About genotype
										svg.arrow
											use(xlink:href="../img/symbol_sprite.svg#icon-arrow-right")
							svg.calculator__result-dogs__body__cell__dog-block__info-gender.male
									use(xlink:href="../img/symbol_sprite.svg#icon-male")
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__dog-block
						.calculator__result-dogs__body__cell__dog-block__image(style="background-image: url(../img/puppy1.png)")
						.calculator__result-dogs__body__cell__dog-block__body
							h5.calculator__result-dogs__body__cell__dog-block__title Lily
							.calculator__result-dogs__body__cell__dog-block__info
								.calculator__result-dogs__body__cell__dog-block__info-wrapper
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-breed French Bulldog
									p.calculator__result-dogs__body__cell__dog-block__info-wrapper__text.calculator__result-dogs__body__cell__dog-block__info-wrapper__text-birthdate 2y 4m
							.calculator__result-dogs__body__cell__dog-block__genom-wrapper
								p.calculator__result-dogs__body__cell__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
								.help.js_help
									svg.icon
										use(xlink:href="../img/symbol_sprite_default.svg#icon-help")
									a.help__link.js_help-block(href="") 
										p.text About genotype
										svg.arrow
											use(xlink:href="../img/symbol_sprite.svg#icon-arrow-right")
							svg.calculator__result-dogs__body__cell__dog-block__info-gender.female
									use(xlink:href="../img/symbol_sprite.svg#icon-female")
				.calculator__result-dogs__body__cell
					.calculator__result-dogs__body__cell__colors-table
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")
						.calculator__result-dogs__body__cell__colors-table__row
							p.calculator__result-dogs__body__cell__colors-table__cell chocolate trindle pied
							p.calculator__result-dogs__body__cell__colors-table__cell-value 15.63
							.calculator__result-dogs__body__cell__colors-table__cell__popup-image(style="background-image:url(../img/puppy2.png)")