.calculator__result-dogs
	h1.calculator__result-dogs__title Results
	.calculator__result-dogs__header-wrap
		.calculator__result-dogs__header-wrap__content.calculator__result-dogs__header-wrap__content_v2
			p.calculator__result-dogs__header-wrap__content_v2-cell.calculator__result-dogs__header-wrap__content-cell Male
			p.calculator__result-dogs__header-wrap__content_v2-cell.calculator__result-dogs__header-wrap__content-cell Female
			p.calculator__result-dogs__header-wrap__content_v2-cell.calculator__result-dogs__header-wrap__content-cell Вероятность окраса, %
	.calculator__result-dogs__body
		.calculator__result-dogs__body__row.calculator__result-dogs__body__row_v2
			.calculator__result-dogs_v2__body__cell
				.calculator__gender-blocks__item__body__dog-block_v2
										.calculator__gender-blocks__item__body__image(style="background-image: url(../img/puppy1.png)")
										.calculator__gender-blocks__item__body__dog-block__body
											h5.calculator__gender-blocks__item__body__dog-block__title Lily
											.calculator__gender-blocks__item__body__dog-block__info
												.calculator__gender-blocks__item__body__dog-block__info-wrapper
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-breed Moscow,
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-birthdate Russian Federation
											.calculator__gender-blocks__item__body__dog-block__genom-wrapper
												p.calculator__gender-blocks__item__body__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
											svg.calculator__gender-blocks__item__body__dog-block__info-gender.male
													use(xlink:href="../img/symbol_sprite.svg#icon-male")
			.calculator__result-dogs_v2__body__cell
				.calculator__gender-blocks__item__body__dog-block_v2
										.calculator__gender-blocks__item__body__image(style="background-image: url(../img/puppy1.png)")
										.calculator__gender-blocks__item__body__dog-block__body
											h5.calculator__gender-blocks__item__body__dog-block__title Lily
											.calculator__gender-blocks__item__body__dog-block__info
												.calculator__gender-blocks__item__body__dog-block__info-wrapper
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-breed Moscow,
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-birthdate Russian Federation
											.calculator__gender-blocks__item__body__dog-block__genom-wrapper
												p.calculator__gender-blocks__item__body__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
											svg.calculator__gender-blocks__item__body__dog-block__info-gender.female
													use(xlink:href="../img/symbol_sprite.svg#icon-female")
			.calculator__result-dogs_v2__body__cell
				.calculator__result-dogs_v2__body__cell__color-table
					.calculator__result-dogs_v2__body__cell__color-table__row
						.calculator__result-dogs_v2__body__cell__color-table__cell cream
						.calculator__result-dogs_v2__body__cell__color-table__cell 6.25
					.calculator__result-dogs_v2__body__cell__color-table__row
						.calculator__result-dogs_v2__body__cell__color-table__cell chocolate trindle pied
						.calculator__result-dogs_v2__body__cell__color-table__cell 15.63
					.calculator__result-dogs_v2__body__cell__color-table__row
						.calculator__result-dogs_v2__body__cell__color-table__cell solid lilac
						.calculator__result-dogs_v2__body__cell__color-table__cell 9.38
		.calculator__result-dogs__body__row.calculator__result-dogs__body__row_v2
			.calculator__result-dogs_v2__body__cell
				.calculator__gender-blocks__item__body__dog-block_v2
										.calculator__gender-blocks__item__body__image(style="background-image: url(../img/puppy1.png)")
										.calculator__gender-blocks__item__body__dog-block__body
											h5.calculator__gender-blocks__item__body__dog-block__title Lily
											.calculator__gender-blocks__item__body__dog-block__info
												.calculator__gender-blocks__item__body__dog-block__info-wrapper
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-breed Moscow,
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-birthdate Russian Federation
											.calculator__gender-blocks__item__body__dog-block__genom-wrapper
												p.calculator__gender-blocks__item__body__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
											svg.calculator__gender-blocks__item__body__dog-block__info-gender.male
													use(xlink:href="../img/symbol_sprite.svg#icon-male")
			.calculator__result-dogs_v2__body__cell
				.calculator__gender-blocks__item__body__dog-block_v2
										.calculator__gender-blocks__item__body__image(style="background-image: url(../img/puppy1.png)")
										.calculator__gender-blocks__item__body__dog-block__body
											h5.calculator__gender-blocks__item__body__dog-block__title Lily
											.calculator__gender-blocks__item__body__dog-block__info
												.calculator__gender-blocks__item__body__dog-block__info-wrapper
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-breed Moscow,
													p.calculator__gender-blocks__item__body__dog-block__info-wrapper__text.calculator__gender-blocks__item__body__dog-block__info-wrapper__text-birthdate Russian Federation
											.calculator__gender-blocks__item__body__dog-block__genom-wrapper
												p.calculator__gender-blocks__item__body__dog-block__genom-wrapper__gens AtAy b Dd KbrKy eEm N
											svg.calculator__gender-blocks__item__body__dog-block__info-gender.female
													use(xlink:href="../img/symbol_sprite.svg#icon-female")
			.calculator__result-dogs_v2__body__cell
				.calculator__result-dogs_v2__body__cell__genom AtAy b Dd KbrKy eEm N
				.calculator__result-dogs_v2__body__cell__genom-percent 98.99 <span class="calculator__result-dogs_v2__body__cell__genom-percent__symbol "> %</span>