div(class="checkbox-block js_box " + block.boxClass)
	div(class="checkbox js_check " + block.class)
	input(type="checkbox" class="js_checkbox input-field")
	p(class="label js_check " + block.labelClass)= block.label