.popup.js_popup.js_contact
	form.contact-form.js_contact-form(action="")
		.close.js_close
		h3.tittle Contact the Seller
		//- <Seller name> заменяется на имя получателя сообщения
		p.info <span class="seller-name">Seller name</span> recieve your message with your contacts on your email
		.input-block.textarea.js_input
					textarea(class="field" maxlength="285" placeholder="Your message...")
		a.button.sign-in.send.js_send-message Send Message
		a.button.sign-in.success-button.js_close.js_form-success OK