.popup.js_popup.js_dog-limit.active
	form.contact-form.dog-limit-form.js_limit-form(action="")
		.close.js_close
		h3.tittle Ooops...
		p.info <span class="row">Достигнут лимит по количеству собак</span><br><br><span class="row">Ваш план допускает добавление не более 3-х собак</span><br><br><span class="row">Чтобы добавить больше собак, пожалуйста обновите ваш план.</span>
		//- Ссылка на страницу покупки плана
		a.button.sign-in.send(href="#") Update Plan