head
	title BullDna

	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(rel="stylesheet" href="../styles/swiper.min.css")
	link(rel="stylesheet" href="../styles/choices.min.css")
	//- link(rel="stylesheet" href="../styles/choicesBase.min.css")
	link(rel="stylesheet" href="../styles/main.css")

	script(src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous")
	script(src="../script/jquery.jscrollpane.js")
	script(src="../script/jquery.mousewheel.js")
	script(src="../script/dropzone.js")
	script(src="../script/jquery.dotdotdot.js")
	script(src="../script/swiper.min.js")
	script(src="../script/choices.min.js")
	script(src="../script/main.js")